body {
  background-color: #e7dfac;
  font-family: sans-serif;
}

#wrapper {
  background-color: #e7dfac;
  min-width: 800px;
  margin: auto;
  width: 80%;
  box-shadow: 5px 5px 5px;
}

header {
  background-color: #d1b38e;
  text-align: center;
}

.content {
  background-color: #f5f5dd;
  margin-left: 150px;
  padding: 5px 20px 5px 20px;
}

#leftcolumn {
  float: left;
}
#leftcolumn ul {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
}
#leftcolumn a {
  text-decoration: none;
}
a:link {
  color: #794c43;
}
a:visited {
  color: #794c43;
}
a:hover {
  color: #a57d5f;
}

#rightcolumn {
  background-color: #e2d1b2;
}
#rightcolumn h2 {
  color: #350003;
}
#rightcolumn ul {
  list-style-image: url(coffeelist.png);
  color: #423431;
  margin-left: 290px;
}
#rightcolumn p {
  color: #423431;
  margin-left: 300px;
}

#floatleft {
  float: left;
}

footer {
  background-color: #d1b38e;
  padding: 20px;
  margin: auto;
  text-align: center;
}

#menutable {
  margin-left: 50px;
  padding-bottom: 20px;
}

#menutable .brownrow {
  background-color: #d1b38f;
}

#menutable th {
  text-align: center;
  padding: 10px 20px 10px 20px;
}

#menutable td {
  padding: 10px;
}

.currency-wrap {
  position: relative;
}

.currency-code {
  position: absolute;
  left: 8px;
  top: 10px;
}

input {
  padding: 10px 20px;
  border: solid 1px #ccc;
  border-radius: 5px;
}
